<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">
      <ion-icon name="home-outline"></ion-icon>
    </ion-back-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <form>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input name="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input name="email" type="password"></ion-input>
      </ion-item>

      <ion-button color="primary" type="submit" (click)="login()"> Logearse </ion-button>
    </form>
  </div>
</ion-content>
