<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">
      <ion-icon name="home-outline"></ion-icon>
    </ion-back-button>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <div class="ion-padding">
    <form #form="ngForm" (ngSubmit)="register()" method="post">
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input name="email" type="text" [(ngModel)]="data.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input name="pwd" type="password" [(ngModel)]="data.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Nombre </ion-label>
        <ion-input name="name" type="text" [(ngModel)]="data.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Apellidos </ion-label>
        <ion-input name="surname" [(ngModel)]="data.surname" type="text"></ion-input>
      </ion-item>

      <ion-button color="primary" type="submit" (click)="register()"> Registrarse </ion-button>
  </form>
  </div>
</ion-content>