<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Fecha</ion-card-subtitle>
      <ion-card-title>Titulo de la opinion</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      descripcion de la opinion
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <ion-button color="transparent" size="small" >
          <ion-icon name="thumbs-up-sharp"></ion-icon>
          Aqui van el numero de likes mediante una pipe
        </ion-button>   
      </ion-col>
    </ion-row>
    
  </ion-card>

  
</ion-content>
